<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="comqwera.mingrisoft.shousi.activity.activity">

    <uses-permission android:name="android.permission.INTERNET"/>
    //联网
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    //访问SD卡
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/appsgousijia"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Login"/>
        <activity android:name=".Zhuce"/>
        <activity android:name=".Orderfinish"/>
        <activity
                android:name=".MainActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".GoodsActivity">
        </activity>
        <activity android:name=".updatewode"/>
        <activity android:name=".Fingerprint">
        </activity>
        <activity android:name=".ShoppingCartActivity"/>
        <activity android:name=".FindActivity"/>
        <activity android:name="comqwera.mingrisoft.shousi.business.activity.Main2Activity">
        </activity>
        <activity android:name="comqwera.mingrisoft.shousi.business.activity.InquiryuserActivity">
        </activity>
        <activity android:name=".MyorderActivity">
        </activity>
    </application>

</manifest>